<div class="container">
    <div class="title">
      <span>Завдання</span>
    </div>
    <div class="content">
      <mat-grid-list cols="3" rowHeight="600px">
        <mat-grid-tile colspan="2">
            <app-tasks-table [tasks] = "tasks"></app-tasks-table>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="control-buttons">
            <div class="buttons-with-input-field">
              <mat-form-field class="example-full-width">
                <mat-label>Id завдання</mat-label>
                <input type="number" matInput placeholder="Введіть Id" #id>
              </mat-form-field>
              <button mat-raised-button (click)= "getTask(id.value)">Знайти</button>
              <button mat-raised-button color="primary" (click)="deleteTask(id.value)">Видалити</button>
            </div>
            <div class="buttons-without-input-field">
              <button mat-raised-button color="primary" (click)="update()">Отримати всі існуючі завдання</button>
              <button mat-raised-button color="primary" routerLink="./create">Створити завдання</button>
              <button mat-raised-button color="primary" routerLink="./update">Редагувати завдання</button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>