
<div class="navbar">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <img src="https://s.dou.ua/CACHE/images/img/announces/2_1_6Y7TRbx_aNEj4IY/1642a86a1918e6ebc56e5969edae3205.png" width="105" height="52">
        <span class="example-spacer"></span>
        <a mat-button routerLink="">Головна</a>
        <a mat-button routerLink = "/projects">Проекти</a>
        <a mat-button routerLink = "/tasks">Завдання</a>
        <a mat-button routerLink="/teams" >Команди</a>
        <a mat-button routerLink = "/users">Користувачі</a>
      </mat-toolbar-row>
    </mat-toolbar>
</div>